 <nav class="navbar navbar-custom">
     <div class="container-fluid">
         <ul class="nav navbar-nav hidden-xs" style="padding-left: 15%; padding-right: 15%;">
             <li class="pull-left"><a style="padding-top: 10px; padding-bottom: 5px;" href="/"><img src="/img/logo.png" height="30" width="32" style="padding-right: 10px;"></a></li>
             <li class="pull-left"><a href="/" style="color: #fff; font-size: 30px;">Mine!</a></li>
             <li class="pull-right">{{{navPic}}}</li>
             <li class="pull-right">{{{navLink}}}</li>
         </ul>
         <ul class="nav navbar-nav visible-xs-block">
             <li class="pull-left"><a class="pull-left" style="padding-top: 5px; padding-left: 35px;" href="/"><img src="/img/logo.png" height="30" width="32" style="padding-right: 10px;"></a></li>
             <li class="pull-right">{{{navPic}}}</li>
             <li><a href="/" style="color: #fff; font-size: 28px;">Mine!</a></li>
         </ul>
     </div>
 </nav>