<div class="bg-secondary text-center" style="margin-top: 40px;">
    <div class="row vert-padding">
        <div class="col-12 col-md-6">
            <h5 class="text-light" style="margin-bottom: 0;">Created by the Software Development Team
                <img src="/img/logo.png" height="35px" width="28px">
            </h5>
        </div>
        <div class="col-12 col-md-6">
            <h5 class="text-light" style="margin-bottom: 0;">
                <a href="/welcome">Changelist</a>
            </h5>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-6 vert-padding">
            <h5 class="text-light" style="margin-bottom: 0;">Powered by EngSoc
                <img src="/img/engsoc.png" height="35px" width="28px">
            </h5>
        </div>
        <div class="col-6"></div>
    </div>
</div>
<div class="bg-dark text-center">
    <p class="text-white" style="margin-bottom: 0;">© 2018 Copyright: ESSDev Team</p>
</div>
