<link rel="stylesheet" href="../CSS/preferences.css" title="pref" type="text/css"/>
<script src="../JS/quickBook.js" type="text/javascript"></script>
<script src="../JS/roomJSFuncs.js" type="text/javascript"></script>

<div class="centered mission-control">
    <h2>QuickBook&trade;</h2>
    <p>QuickBook&trade; Automagically&trade; books the first available room for the coming hour. &nbsp;Already got a QuickBook&trade; room for this hour?
        Click again to Automagically&trade; get a booking for the next free hour!</p>
    <p>Ready to get started? Click below!</p>
    <br>
    <button onclick="quickBook()" class="btn btn-lg btn-primary">QuickBook&trade;</button>
</div>