@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: "Nunito", Helvitica, sans-serif !important;
}
button {
    color: white;
    text-align: center;
    text-decoration: none;
}
p {
    font-family: "Montserrat";
    text-align: center;
}
li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 25px;
    font-family: "Nunito";
    font-size: 18px;
}
.white {
    color: #fff;
}
.black{
    color: #000;
}
.li-spacing {
    padding-left: 10px;
}
.desc {
    padding-top: 60px;
}
.times {
    padding-top: 10px;
}
.vert-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.no-top-space {
    padding-top: 0px !important;
}
.no-vert-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.yroom {
    padding: 15px 32px;
    font-family: "Roboto Mono", Courier, monospace;
    border-radius: 12px;
    display: inline-flex;
    font-size: 30px !important;
    margin: 10px 10px;
    color: white !important;
    text-decoration: none;
}
.nroom {
    padding: 15px 32px;
    font-family: "Roboto Mono", Courier, monospace !important;
    border-radius: 12px;
    display: inline-flex;
    font-size: 30px !important;
    margin: 10px 10px;
    color: white !important;
    text-decoration: none;
}

.mroom {
    padding: 15px 32px;
    font-family: "Roboto Mono", Courier, monospace !important;
    border-radius: 12px;
    display: inline-flex;
    font-size: 30px !important;
    margin: 10px 10px;
    color: white !important;
    text-decoration: none;
}

.ytime {
    color: white;
    padding: 15px 22px;
    font-family: "Roboto Mono", Courier, monospace;;
    border-radius: 12px;
    display: inline-flex;
    font-size: 17px;
}
.mtime {
    padding: 15px 22px;
    font-family: "Roboto Mono", Courier, monospace;;
    border-radius: 12px;
    display: inline-flex;
    font-size: 17px;
}
.ntime {
    color: white;
    padding: 15px 22px;
    font-family: "Roboto Mono";
    border-radius: 12px;
    display: inline-flex;
    font-size: 17px;
}
.ctime {
    color: white;
    padding: 15px 22px;
    font-family: "Roboto Mono";
    border-radius: 12px;
    display: inline-flex;
    font-size: 17px;
}
.navbar-brand{
    font-size: 30px !important;
}
.show {
    display: inline-block !important;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    font-size: 24px !important;
    display: inline;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
    padding-top: 0;
}
.btn-xl {
    padding: 18px 28px;
    font-size: 100px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.navbar {
    background-color: #c771e9;
    width: 100%;
    margin: 0;
}

.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ebb8ff;
}
.navbar .navbar-text {
    color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ebb8ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ebb8ff;
    background-color: #c771e9;
}
.navbar .navbar-toggle {
    border-color: #c771e9;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #c771e9;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}
.navbar .navbar-link {
    color: #ecf0f1;
}
.navbar .navbar-link:hover {
    color: #ebb8ff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ebb8ff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ebb8ff;
        background-color: #c771e9;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ebb8ff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ebb8ff;
        background-color: #c771e9;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ebb8ff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ebb8ff;
        background-color: #c771e9;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ebb8ff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ebb8ff;
        background-color: #c771e9;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ebb8ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ebb8ff;
    background-color: #c771e9;
}

.centered {
    text-align: center;
}

.row {
    margin: 0;
}

.chk-container {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    width: 10em;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

/* Hide the browser's default checkbox */
.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    background-color: #eee;
    width: 100%;
    border-radius: 2em;
    color: black;
}

/* On mouse-over, add a grey background color */
.chk-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk-container input:checked ~ .checkmark {
    background-color: #2196F3;
    color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk-container .checkmark:after {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}