.yroom,
.ytime {
    background-color: #a4e405;
}

.nroom,
.ntime {
    background-color: #ed1f6a;
}

.mroom,
.mtime {
    background-color: #60d9f1;
}

body {
    background-color: #272822 !important;
    color: whitesmoke !important;
}

.card-block {
    color: black;
}

.page-header .btn-default {
    color: whitesmoke !important;
}

.navbar {
    background-color: #992CC4 !important;
}

.mission-control, .modal,
.btn-default, .list-group li {
    color: #000;
}

object {
    background-color: whitesmoke;
}