@mixin cardStyles {
  &__main-card {
    margin: 8px;

    @media screen and (max-width: $medium-breakpoint) {
      margin: 8px 12px;
    }

    &__img {
      height: 300px;

      &--tall {
        height: 350px;
      }
    }
  }
}
