$purple: #673ab7;

// Room Button Colors
$freeRoom: #4CAF50;
$bookedRoom: #d81b60;
$myRoom: #FF9800;

// Booking colors
$selectedTime: #00BCD4;

// Footer colors
$footer-dark: #343a40;
$footer: #6c757d;
