.error {

  &__card-container {
    padding: 0;

    @media screen and (min-width: $medium-breakpoint) {
      padding: 0 30px;
    }
  }

  &__main-card {
    margin: 8px;

    @media screen and (max-width: $medium-breakpoint) {
      margin: 8px 12px;
    }

    &__img {
      height: 350px;
    }
  }

}
