@import './Colors';
@import './Nav';
@import './Footer';
@import './Breakpoints';
@import './Error';
@import './Card';
@import './Admin';
@import './Home';
@import './Quick';

body {
  font-family: "Nunito", Helvitica, sans-serif !important;
}

html,
body,
body, wrapper {
  min-height: 100vh;
}

#main {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.md__icon-button:hover {
  color: white;
}

.row {
  margin-right: 0;
  margin-left: 0;

  &--add-margin {
    margin-bottom: 8px;

    &-top {
      margin-top: 8px;
    }
  }

  &--side-margin {
    margin-right: 4px;
    margin-left: 4px;
  }
}

.content__wrapper {
  flex-grow: 1;
}

.remove-spacing {
  &--16 {
    width: calc(100% - 16px);
  }
}

.qbook {
  @include cardStyles;
}
