.navigation {
  margin-bottom: 30px;

  & &__wrapper {
    background-color: #673ab7;
  }

  &__app-name {
    flex-grow: 1;
    color: white;

    &:hover, active {
      color: white;
    }
  }

  &__account-menu-btn {
    margin-left: -12px;
    margin-right: 20px;
  }

  &__qbook-logo {
    margin-right: 0.5em;
    margin-left: 1em;
  }

  &__drawer {
    width: 250px;
    margin-top: 10px;

    &__logo-wrapper {
      padding-bottom: 15px;
    }

    &__qbook-logo {
      height: 38px;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }

    &__app-name {
      color: black;
      display: inline-flex;

      &:hover, active {
        color: black;
      }
    }
  }
}
