//.btn .room-btn__text {
//  color: white;
//  font-size: 30px;
//  font-family: monospace;
//}

.yroom {
  padding: 15px 32px;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  font-size: 30px;
  margin: 10px 10px;
  color: white;
  background-color: $freeRoom;
  text-decoration: none;

  &:hover,focus,active {
    color: white;
  }
}
.nroom {
  padding: 15px 32px;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  font-size: 30px;
  margin: 10px 10px;
  color: white;
  background-color: $bookedRoom;
  text-decoration: none;

  &:hover,focus,active {
    color: white;
  }
}

.mroom {
  padding: 15px 32px;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  margin: 10px 10px;
  color: white;
  background-color: $myRoom;
  text-decoration: none;

  &:hover,focus,active {
    color: white;
  }
}

.ytime {
  color: white;
  background-color: $freeRoom;
  padding: 15px 22px;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  font-size: 17px;

  &:hover,focus,active {
    color: white;
  }
}

.mtime {
  padding: 15px 22px;
  background-color: $myRoom;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  font-size: 17px;

  &:hover,focus,active {
    color: white;
  }
}
.ntime {
  color: white;
  background-color: $bookedRoom;
  padding: 15px 22px;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  font-size: 17px;

  &:hover,focus,active {
    color: white;
  }
}
.ctime {
  color: white;
  padding: 15px 22px;
  font-family: "Roboto Mono", Courier, monospace;
  border-radius: 12px;
  display: inline-flex;
  font-size: 17px;

  &:hover,focus,active {
    color: white;
  }
}

@media (max-width: 375px) {
  .mobileBtn {
    font-size: 1.4rem;    /*1rem = 16px*/
  }
}

@media (min-width: 376px) {
  .mobileBtn {
    font-size: 1.5rem;    /*1rem = 16px*/
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 541px) {
  .mobileBtn {
    font-size: 1.5rem;    /*1rem = 16px*/
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobileBtn {
    font-size: 30px;    /*1rem = 16px*/
  }
}
